<section class="cart-page">
  @if (hasCartItems()) {
    <div class="title-container">
      <h2>Your Cart</h2>
      <button class="delete-cta" mat-stroked-button (click)="onClearCart()">
        <mat-icon>delete</mat-icon>
        <span>Clear Cart</span></button>
    </div>
    <app-cart-list></app-cart-list>
  }
  @if (!hasCartItems()) {
    <div class="empty-cart-message">
      <h3>Your cart is empty</h3>
      <p>Browse our products and add items to your cart.</p>
      <button mat-stroked-button color="primary" routerLink="/products">
        <mat-icon class="mat-18">arrow_back</mat-icon>
        Explore Products
      </button>
    </div>
  }
</section>
